.input {
  width: 200px;
  border-radius: 30px;
  padding: 8px;
  border: transparent;
  box-shadow: 2px 4px 8px grey;
}
:focus {
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}
::placeholder {
  color: white;
}
.primary {
  background-color: orange;
}
.secondary {
  background-color: blueviolet;
}
